@import "tailwindcss";

:root {
  --background: #02022a;
  --white: #f0f0f0;
  --accent-grey: #c9c9c9ea;
  --accent-blue: #99b7cc;
}

body {
  background: var(--background);
  color: var(--white);
  padding: 16px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}

h5 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
}

@keyframes bgpulse {
  0%,
  100% {
    background-color: #14b8a6; /* teal-500 */
  }
  50% {
    background-color: #00897b; /* teal-400 */
  }
}
